.contact {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header {
  padding-bottom: 40px;
}

.item {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding-top: 12px;
  padding-bottom: 12px;
  a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
  }
}

.label {
  font-weight: 600;
  &::after {
    content: ":";
  }
}
