@import "../../scss/variables";

.article {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  justify-content: center;
  text-align: center;
  font-weight: 400;

  &__container {
    width: 100%;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__description{
    text-align: justify;
  }

  &__title {
    font-family: georgia, serif;
    font-size: 36px;
    font-weight: $fw-regular;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    color: $text-default;
    font-size: 18px;
    font-weight: $fw-bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }
}
