.nav {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(auto-fit, minmax(40px, auto));
  align-items: center;
  grid-gap: 16px;

  &__link {
    position: relative;
    display: block;
    padding: 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: #303030;
    font-size: 14px;
    font-weight: 600;

    &::after {
      display: block;
      position: absolute;
      content: "";
      width: calc(100% - 16px);
      height: 2px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: center center;
      transition: all 0.3s ease-in-out;
    }

    &.active {
      color: #1676b5;
    }

    &.active::after,
    &:hover::after {
      transform: scaleX(1);
    }
  }
}

@media only screen and (max-width: 685px) {
  .nav {
    display: none;
  }
}
