.contact {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form {
  position: relative;
}

.field {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}

.label {
  display: block;
  padding-bottom: 4px;
}

.textInput,
.textArea {
  display: block;
  width: 100%;
  border: 1px solid #d8d8d8;
  appearance: none;
  padding: 4px 8px;
}

.cta {
  appearance: none;
  border: 0;
  background-color: #303030;
  color: #ffffff;
  padding: 8px 32px;
  cursor: pointer;
}

.modal {
  &__content {
    width: auto;
    background-color: #fff;

    p {
      margin: 0;
      font-weight: 600;
    }
  }
}
