// .header {
//   display: flex;
//   position: sticky;
//   top: 0;
//   width: 100%;
//   justify-content: center;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   z-index: 1;
//   background-color: #fff;

//   &__container {
//     display: grid;
//     width: 1200px;
//     max-width: 100%;
//     padding-left: 16px;
//     padding-right: 16px;
//     grid-template-columns: 100px 1fr;
//     justify-content: space-between;
//     align-items: center;
//   }
// }

.bootnav a {

  position: relative;
  color: #303030 !important;
  text-decoration: none !important;
  font-size: 16px;
  vertical-align:baseline;
  text-transform: uppercase;
  font-weight: 600;
}

.bootnav a::after {
  display: block;
  position: absolute;
  content: "";
  width: calc(100% - 18px);
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: center center;
  transition: all 0.3s ease-in-out;
}
.bootnav a.active::after,
.bootnav a:hover::after {
  transform: scaleX(1);
}
.dropdownOverride a::after{
  margin: 0 ;
  border-top: none ;
}
.linkMiddle {
  margin: auto 0;
}
.linkMiddle a.active::after,
.linkMiddle a:hover::after {
  width: 100%;
}

.linkLine a.active::after,
.linkLine:hover::after {
  width: max-content;
}
.paddingRight{
  padding-right: 50px
}

@media only screen and (max-width: 991px) {
  .bootnav a.active::after,
  .bootnav a:hover::after {
    transform: scaleX(0);
  }
  .bootnav a {
    padding: 0 !important;
  }
}