@import "../../scss/variables";

.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 100px;

  &__container {
    width: 100%;
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 170px;
  }
}

.figure {
  position: relative;
  width: 100%;
  height: 100%;
  img {
    border-radius: 16px;
    // box-shadow: 0 0 5px rgba($black, .3);
    object-fit: unset !important;
    border: 1px solid #d8d8d8;
  }
}
.imageLabel {
  width: 100%;
  font-weight: 600;
  text-align: center;
}
.imageLabel:first-child{
    margin-top: 16px;
}

.link {
  color: currentColor;
  text-decoration: none;
  transition: 0.3s;
}
.link:hover{
  color: currentColor;
}
