.footer {
  position: relative;

  background-color: #652d10;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 16px;
  padding-bottom: 16px;

  &__desc {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    margin: 0;
  }
}
