// ==========================================================================
//  Global Variables
//
//  Created Date: 01-09-2020
//  Author: Ajit Kayastha
//
// ==========================================================================

// ==========================================================================
// Colors
// ==========================================================================

// Start with assigning color names to specific hex values.
$white: #ffffff !default;
$black: #000000 !default;

// Create grayscale
// ==========================================================================
$gray-darker: #131313 !default;
$gray-dark: #303030 !default;
$gray: #606060 !default;
$gray-light: #909090 !default;
$gray-lighter: #c0c0c0 !default;
$gray-lightest: #fafafa !default;

// Base palette
// ==========================================================================
$palette-marigold: #efa00b!default;
$palette-green-ryb: #7fbe42 !default;
$palette-green-android: #afbf44 !default;
$palette-blue-munsell: #348aa7 !default;
$palette-blue-green: #319bbb !default;
$palette-red: #d33434;

// Brand Colors
// ==========================================================================
$brand-light: $palette-green-ryb;
$brand-dark: $palette-green-ryb;

// Status
// ==========================================================================
$color-default: $gray-dark;
$color-success: $palette-green-ryb;
$color-info: $palette-blue-munsell;
$color-warning: $palette-marigold;
$color-error: $palette-red;


// Text Colors
$text-black: $black;
$text-dark: $gray-darker;
$text-default: $gray-dark;
$text-light: $gray-lighter;
$text-white: $white;
$text-success: $color-success;
$text-info: $color-info;
$text-warning: $color-warning;
$text-error: $color-error;


// Background Colors
$bg-black: $black !default;
$bg-dark: $gray-darker !default;
$bg-light: $gray-lightest !default;
$bg-white: $white !default;

$bg-success: $color-success;
$bg-info: $color-info;
$bg-warning: $color-warning;
$bg-error: $color-error;

// Body
// ==========================================================================
$body-bg: $bg-dark !default;
$body-color: $text-default !default;

// ==========================================================================
// Fonts / Typography
//
// Font, line-height, and color for body text, headings, and more.
// ==========================================================================

$font-family-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace !default;

$font-family-base: $font-family-sans-serif !default;

$ff-base: $font-family-base;
$ff-mono: $font-family-monospace;
$ff-heading: $ff-base;

// Font Sizes
// ==========================================================================
$fz-xl: 18px !default;
$fz-lg: 16px !default;
$fz-md: 14px !default;
$fz-sm: 12px !default;
$fz-xs: 10px !default;
$fz-base: $fz-md !default;

// Heading Font Sizes
$fz-h1: 48px !default;
$fz-h2: 36px !default;
$fz-h3: 32px !default;
$fz-h4: 24px !default;
$fz-h5: 16x !default;
$fz-h6: 12px !default;

// Font Weights
$fw-light: 300 !default;
$fw-regular: 400 !default;
$fw-bold: 600 !default;



// Links
// ==========================================================================
$link-color: $palette-blue-green !default;
$link-decoration: none !default;
$link-hover-color: $palette-blue-munsell !default;
$link-hover-decoration: none !default;


// Buttons
// ==========================================================================

$btn-border-width: 1px;
$btn-outline: none;
$btn-font-family: $ff-base;
$btn-font-size: inherit;
$btn-text-decoration: none;


// Default 
$btn-default-color: $gray-dark;
$btn-default-background-color: $gray-lightest;
$btn-default-border-color: $gray-lightest;
$btn-default-box-shadow: 0 0 3px rgba($gray-dark, 0);


$btn-default-hover-color: $gray-darker;
$btn-default-hover-background-color: $gray-lighter;
$btn-default-hover-border-color: $gray-lighter;
$btn--default-hover-box-shadow: 0 0 3px rgba($gray-dark, 0.3);

// Primary 
$btn-primary-color: $gray-dark;
$btn-primary-background-color: $brand-dark;
$btn-primary-border-color: $brand-dark;
$btn-primary-box-shadow: 0 0 3px rgba($brand-dark, 0);

$btn-primary-hover-color: $gray-darker;
$btn-primary-hover-background-color: $brand-light;
$btn-primary-hover-border-color: $brand-light;
$btn-primary-box-shadow: 0 0 3px rgba($brand-dark, 0);

// Success 
$btn-success-color: $gray-dark;
$btn-success-background-color: $color-success;
$btn-success-border-color: $color-success;
$btn-success-box-shadow: 0 0 3px rgba($color-success, 0);

$btn-success-hover-color: $gray-darker;
$btn-success-hover-background-color: lighten($color-success, 10%);
$btn-success-hover-border-color: lighten($color-success, 10%);;
$btn-success-box-shadow: 0 0 3px rgba($color-success, 0);


