.viewer {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  // background-color: #d8d8d8;

  &__container {
    width: 100%;
    max-width: 1200px;
    // padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    justify-items: center;
  }

  &__actions {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__pageNumber {
    margin: 0;
  }
}

.pdf canvas{
  border: 1px solid rgba(0,0,0,0.2);
  width: 100% !important;
  height: 100%  !important;
}